exportPattern("^[[:alpha:]]+")
importFrom(plotrix, draw.ellipse)
importFrom(aod, betabin)
importFrom(glmmML, glmmML)
importFrom(numDeriv, jacobian, hessian)
importFrom(metafor, trimfill, rma)
importFrom(mvmeta, mvmeta, inputcov)
importFrom(stats, pchisq, coef, cov, cor, vcov, cov2cor, dbinom, integrate, na.omit, optim, plogis, qlogis)


importFrom("graphics", "abline", "legend", "plot", "points", "segments", "text", "arrows")
importFrom("stats", "rnorm", "runif", "quantile") 
importFrom("MASS", "mvrnorm")
importFrom("metafor", "rma.uni") 

S3method(summary, mmeta)
S3method(summary, msset)
