exportPattern("^[[:alpha:]]+")
importFrom(aod, betabin)
importFrom(glmmML, glmmML)
importFrom(numDeriv, jacobian, hessian)
importFrom(metafor, trimfill, rma)
importFrom(mvmeta, mvmeta, inputcov)
importFrom(stats, coef, cov, cor, vcov, cov2cor, dbinom, integrate, na.omit, optim, plogis, qlogis)


